<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">{{ titulo }}</span>
          <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
            <div class="mb-3">
              <input
                formControlName="producto"
                placeholder="Producto"
                type="text"
                class="form-control form-control-lg"
              />
              <div class="text-danger" *ngIf="productoForm.get('producto')?.hasError('required') && productoForm.get('producto')?.touched">
                <span>El nombre del producto <strong>es obligatorio</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <input
                formControlName="categoria"
                placeholder="Categoria"
                type="text"
                class="form-control form-control-lg"
              />
              <div class="text-danger" *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched">
                <span>La categoria <strong>es obligatoria</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <input
                formControlName="ubicacion"
                placeholder="Ubicación"
                type="text"
                class="form-control form-control-lg"
              />
              <div class="text-danger" *ngIf="productoForm.get('ubicacion')?.hasError('required') && productoForm.get('ubicacion')?.touched">
                <span>La ubicacion <strong>es obligatorio</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <input
                formControlName="precio"
                placeholder="Precio"
                type="number"
                class="form-control form-control-lg"
              />
              <div class="text-danger" *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched">
                <span>El precio <strong>es obligatorio</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <button
                routerLink="/"
                class="btn btn-secondary btn-lg float-start"
              >
                VOLVER
              </button>
              <button [disabled]="productoForm.invalid" type="submit" class="btn btn-success btn-lg float-end">ACEPTAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
